.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  height: 100px;
  margin: 10px;
  perspective: 1000px;
}

.answerContent {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.answerRevealed.answerContent {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  align-items: center;
  border-radius: 12px;
  padding: 15px;
  color: #000;
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 12px;
}

.correct {
  background-color: #3baa6d;
}

.wrong {
  background-color: #e44a4c;
}

.correct .value,
.wrong .value {
  font-size: 1.5rem;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 20px;
  color: #fff;
}

.value {
  font-size: 1.3rem;
  font-weight: bold;
}
